# {{ansible_managed}}

[Unit]
Description=mapred history server service

[Service]
Type=fork
User=root
Group=root
Environment=JAVA_HOME=/opt/jdk{{ jdk_version_file }}
ExecStart=/opt/{{ hadoop_file_base }}/bin/mapred historyserver

TimeoutSec=300

[Install]
WantedBy=multi-user.target
