# {{ansible_managed}}

[Unit]
Description=mapred history server service

[Service]
Type=fork
User=root
Group=root
Environment=JAVA_HOME=/usr
ExecStart=/opt/{{ hadoop_file_base }}/bin/mapred historyserver
Restart=always
RestartSec=3
TimeoutSec=300

[Install]
WantedBy=multi-user.target
