# {{ansible_managed}}

[Unit]
Description=yarn resource manager service

[Service]
Type=fork
User=root
Group=root
Environment=HADOOP_CONF_DIR=/opt/{{ hadoop_file_base }}/etc/hadoop
Environment=YARN_CONF_DIR=/opt/{{ hadoop_file_base }}/etc/hadoop
Environment=JAVA_HOME=/opt/jdk{{ jdk_version_file }}
ExecStart=/opt/{{ hadoop_file_base }}/bin/yarn resourcemanager

TimeoutSec=300

[Install]
WantedBy=multi-user.target
