tickTime=2000
dataDir=/opt/{{ zookeeper_file_base }}/conf
clientPort=2181
initLimit=5
syncLimit=2

{% for node in groups['zookeeper'] %}
server.{{loop.index}}={{ hostvars[node].ansible_default_ipv4.address }}:2888:3888
{% endfor %}

