# {{ansible_managed}}

[Unit]
Description=ZooKeeper

[Service]
Type=simple
User=root
Group=root
Environment=JAVA_HOME=/usr
ExecStart=/opt/{{ zookeeper_file_base }}/bin/zkServer.sh start-foreground
ExecStop=/opt/{{ zookeeper_file_base }}/bin/zkServer.sh stop
Restart=always
RestartSec=3
TimeoutSec=300

[Install]
WantedBy=multi-user.target
