# {{ansible_managed}}

[Unit]
Description=Hiveserver2 service

[Service]
Type=simple
User={{ hiveserver_user }}
WorkingDirectory={{ metastore_path }}
Environment=HBASE_HOME=/opt/{{ hbase_file_base }}
Environment=HADOOP_HOME=/opt/{{ hadoop_file_base }}
Environment=HIVE_HOME=/opt/{{ hive_file_base }}
Environment=JAVA_HOME=/usr
ExecStart=/opt/{{ hive_file_base }}/bin/hiveserver2
Restart=always
RestartSec=3
TimeoutSec=300

[Install]
WantedBy=multi-user.target
