# {{ansible_managed}}

[Unit]
Description=Hbase Master

[Service]
Type=simple
User=root
Group=root
Environment=JAVA_HOME=/usr
ExecStart=/opt/{{ hbase_file_base }}/bin/hbase master start
ExecStop=/opt/{{ hbase_file_base }}/bin/hbase master stop
Restart=always
RestartSec=3
TimeoutSec=300

[Install]
WantedBy=multi-user.target
